*.exe
*.apk
*.aab
*.dll
*.tgz
*.pdb
/Builds/
.vs
/Library/
/Temp/
/Obj/
/obj/
/Logs/
/ProjectSettings/*
/UserSettings/*
/AssetStore/*
/*.unityproj
*.tmp
*.bak
*.sln
*.csproj
*.suo
*.userprefs
*.meta
windows
Assets/modelos3d
Modelos3D
qrcode
Temp
vuforia_e_gltf